/* Heading */

.jumbotron {
    text-align: center;
    background-color: white;
    margin-bottom: 0;
}

.jumbotron h1, .jumbotron p {
    margin-bottom: 5%;
}

#play {
    font-size: 2em;
}


/* Choosing numbers */

#choice-section {
    margin-bottom: 1%;
}

.number-row {
    height: 25%;
    margin-bottom: 2vh;
}

.number {
    display: inline-block;
    background: #ffff66;
    text-align: center;
    font-size: 3em;
    width: 8%;
    height: 100%;
    margin-left: 0.9%;
    margin-right: 0.5%;
    border-radius: 50%;
}

.selected {
    background-color: lightgrey;
}

/* Error message */

#error-msg {
    text-align: center;
    font-size: 1.7em;
    color: red;
    margin-bottom: 1%;
}


/* Game button */

#game-section {
    text-align: center;
}

#game {
    font-size: 2em;
}

